<!DOCTYPE html>
<html>
<head>
    <title>呼叫界面</title>
    <script type="text/javascript" src="./js/refresh.js"></script>
</head>
<body>
    <div id="YDC_CallPage" data-dom-cache="true" data-role="page" >
        <div id="Header" data-role="header" data-position="fixed">
            <a id="CallBackBtn" href="#" data-rel="back" data-role="button" data-icon="back"><span>返回</span></a>
            <div class="right">
                <span id="Call_ShopName"></span>
            </div>
        </div>

        <div id="Content" data-role="content">
            <div class="Content_div">
                <div class="Content_div_call">呼叫服务</div>
            </div>
        </div>
        <script type="text/javascript" src="./js/call.js"></script>
    </div>
</body>
</html>
