<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>菜品介绍</title>
    <link href='res/css/dishinfo.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script type="text/javascript" src="res/js/jquery.cookie.js" ></script>
    <script type='text/javascript' src='res/js/dishinfo.js'></script>
</head>

<body>
    <div id="YDC_menuInfoPage">
       <div id="menuInfo_header">
            <a id="header_back">返&nbsp;回</a>
       </div>

       <div id="menuInfo_content">
            <div id="content_detailInfo">
                <img id="detailInfo_img" />
                <div id="detailInfo_name">水煮牛肉</div>
            </div>
            <div id="content_description">
                <div id="description_text">热菜，口味不错</div>
            </div>
            <div id="blank25"></div>
       </div>

       <div id="menuInfo_footer">
            <!--<a id="footer_back">返 回</a>-->
            <div id="footer_logo"></div>
       </div>
    </div>

</body>

</html>  