<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    </configSections>
    
    <log4net>
        <logger name="Uni.ADOSQL.DEBUG">
            <appender-ref ref="FileAppender" />
            <level value="DEBUG" />
        </logger>
        <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
            <file value="D:/WebManagerAdoLog.txt" />
            <encoding value="utf-8" />
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %-5level [%thread] %logger - %message%newline" />
            </layout>
        </appender>
    </log4net>

    <system.data>
        <DbProviderFactories>
            <remove invariant="MySql.Data.MySqlClient" />
            <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient"
                 description=".Net Framework Data Provider for MySQL"
                 type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.7.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
        </DbProviderFactories>
    </system.data>
  
    <connectionStrings>
        <add name="YDCManagerSqlServer"
            connectionString="server=218.241.3.106;database=YaoDianCai;uid=sa;pwd=th123456;"
            providerName="System.Data.SqlClient" />
    </connectionStrings>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
        <webServices>
            <protocols>
                <add name="HttpPost"/>
                <add name="HttpGet"/>
                <add name="HttpSoap"/>
                <add name="Documentation"/>
            </protocols>
        </webServices>
    </system.web>

    <system.webServer>
        <modules runAllManagedModulesForAllRequests="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Default.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    
</configuration>
