<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>要点菜</title>
    <link href='res/css/global.css' rel='stylesheet' type='text/css' />
    <link href='res/css/main.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script type="text/javascript" src="res/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="plugin/layer.min.js" ></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>

    <script type='text/javascript' src='res/js/main.js'></script>

</head>

<body style="background:#fbf6e6;">
	    <div style="width:100%; background:#fbf6e6;">
         <div class="bottombar" >
            <ul >
                <li id="flippage" style="float: left" >返回首页</li>
                <li id="YDC_footer_shopping_cart" style="float: right">购物车</li>
                <!--<li>-->
                    <!--<div>Total of RMB</div>-->
                    <!--<div id="YDC_footer_menu_total_price">100元</div>-->
                <!--</li>-->
            </ul>
        </div>
		<!--<div id="YDC_header">-->
            <!--<div id="desk_select">-->
                <!--<span id="table_number">桌号</span><span id="person_number" style="display:none;">人数</span>-->
            <!--</div>-->
			<!--<div id="YDC_more"><img src="res/images/more.png" /></div>-->
		<!--</div>-->
        <div class="topbar" style="width: 100%;">
            <img src="res/images/top.png" style="width: 100%;">
        </div>
		<div id="YDC_menu__frame" >
			<div id="left_menu_left">
                <div id="desk_select">
                    <span id="table_number">桌号</span>
                    <!--<span id="person_number" style="display:none;">人数</span>-->
                </div>
                <div id="price_total_left">
                    <div class="price_total_left_font">Total of RMB:</div>
                    <div class="price_total_left_number">2457元</div>
                </div>
                <div id="left_menu">
                
                </div>
            </div>

			<div id="right_contents">
				<div id="YDC_products">
					<div class="blank25"></div>
				</div>
			</div>
		</div>
	
		<!--<div id="YDC_footer">-->
			<!--<div id="YDC_footer_shopping_cart"><img src="res/images/shopping_cart.png"/><span id="menu_select_number">x13</span></div>-->
			<!--<div id="YDC_footer_menu_total_price">100元</div>-->
			<!--<div id="YDC_footer_customer_logo"></div>-->
		<!--</div>-->
	</div>
</body>
</html>
