<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>商家印象</title>
    <link href='res/css/impressTab.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script src="res/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="plugin/layer.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>
    <script type='text/javascript' src='res/js/impressTab.js'></script>
</head>

<body>
<div id="YDC_CallPage" >
    <div id="call_header">
        <a id="header_back">返 回</a>
    </div>

    <div id="Content_tab" style="display:block;">
        <div class="Content_tab_font">商家印象标签：</div>
        <div class="Content_tab_content">
            <div class="Content_tab_item Content_tab_margin_1 Content_tab_item_active">
                <div class="Content_tab_item_font Content_tab_item_font_1">环境优美环境优美</div>
                <div class="Content_tab_item_num">10</div>
            </div>
            <div class="Content_tab_item Content_tab_margin_2">
                <div class="Content_tab_item_font Content_tab_item_font_2">环境优优美</div>
                <div class="Content_tab_item_num">10</div>
            </div>
            <div class="Content_tab_item Content_tab_margin_3">
                <div class="Content_tab_item_font Content_tab_item_font_3">环境优美环境</div>
                <div class="Content_tab_item_num">10</div>
            </div>
            <div class="Content_tab_item Content_tab_margin_4">
                <div class="Content_tab_item_font Content_tab_item_font_4">环优美</div>
                <div class="Content_tab_item_num">10</div>
            </div>
            <div class="Content_tab_item Content_tab_margin_5">
                <div class="Content_tab_item_font Content_tab_item_font_5">环境优美</div>
                <div class="Content_tab_item_num">10</div>
            </div>
        </div>
    </div>

    <div id="Content_Evaluate" style="display:none;">
        <div class="Content_Evaluate_font">商家评价：</div>
        <div class="Content_Evaluate_num">150字</div>
        <div class="Content_Evaluate_input">
            <textarea rows="5" cols="40" class="textarea" autofocus></textarea>
        </div>
        <div class="Content_Evaluate_button">
            <div class="Content_Evaluate_submit">提交</div>
            <div class="Content_Evaluate_cancle">取消</div>
        </div>
    </div>
    <div class="content_tab_button">
        商家评价
    </div>
    <div id="call_footer">
        <div id="footer_logo"></div>
    </div>
</div>
</body>

</html>  