<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>要点菜</title>
    <link href='res/css/global.css' rel='stylesheet' type='text/css' />
    <link href='res/css/main.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script type="text/javascript" src="res/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="plugin/layer.min.js" ></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>
    <script type='text/javascript' src='res/js/main.js'></script>
</head>

<body>
<div style="width:100%;">
    <div id="YDC_header">
        <div id="desk_select">
            <span id="table_number">桌号</span><span id="person_number" style="display:none;">人数</span>
        </div>
        <div id="YDC_more"><img src="res/images/more.png" /></div>
    </div>

    <div id="YDC_menu__frame">
        <div id="left_menu">

        </div>

        <div id="right_contents">
            <div id="YDC_products">

                <div class="blank25"></div>
            </div>
        </div>
    </div>

    <div id="YDC_footer">
        <div id="YDC_footer_shopping_cart"><img src="res/images/shopping_cart.png"/><span id="menu_select_number">x13</span></div>
        <div id="YDC_footer_menu_total_price">100元</div>
        <div id="YDC_footer_customer_logo"></div>
    </div>
</div>
<div class="popup_bac">
    <div id="popup">
        <div id="popup_tuan">团购券号</div>
        <div id="popup_menu_record">已点菜单</div>
        <div id="popup_call">呼叫服务</div>
        <div id="popup_tab">商家印象</div>
    </div>
</div>
</body>
</html>
