<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>下单列表</title>
    <link href='res/css/cart.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script src="res/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="plugin/layer.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>
    <script type="text/javascript" src="ShopInfo/dishinfoEN.js"></script>
    <script type='text/javascript' src='res/js/cart.js'></script>
</head>

<body  style="background:#b82e23;">
    <div id="YDC_ShoppingCartPage">
        <div style="width:100%; background:#b82e23;">
        <div class="bottombar" >
            <ul >
                <li id="header_back" style="float: left" >返回选菜</li>
                <li id="footer_submit" style="float: right">确认出单</li>
                <!--<li>-->
                <!--<div>Total of RMB</div>-->
                <!--<div id="YDC_footer_menu_total_price">100元</div>-->
                <!--</li>-->
            </ul>
        </div>
        <!--<div id="shoppingCart_header">-->
            <!--<a id="header_back">返&nbsp;回</a>-->
        <!--</div>-->
        <div class="topbar" style="width: 100%;">
            <img src="res/images/top.png" style="width: 100%;">
        </div>
        <div id="shoppingCart_content">
            <ul class="menu_list">
            </ul>
        </div>

        <div id="menu_order_info">
            <table>
                <tr>
                    <td id="table_num">101桌</td>
                    <td id="total_count">x20</td>
                    <td id="total_price">270元</td>
                    <td></td>
                </tr>
            </table>
        </div>

        <!--<div id="shoppingCart_footer">-->
            <!--<a id="footer_submit">出&nbsp;单</a>-->
            <!--<div id="footer_logo"></div>-->
        <!--</div>-->
        
    </div>
    <div class="Cart_Confirm_Bac">
        <div class="Cart_Confirm">
            <div class="Cart_Confirm_top">
                <div>下单确认</div>
            </div>
            <div class="Cart_Confirm_content">
                
            </div>
            <div class="Cart_Confirm_bottom">
                <div class="Cart_Confirm_bottom_table">207桌</div>
                <div class="Cart_Confirm_bottom_num">X15</div>
                <div class="Cart_Confirm_bottom_price">9234元</div>
            </div>
            <div class="Cart_Confirm_bottom_bottom">  
                <div class="Cart_Confirm_bottom_cancle">取消出单</div>
                <div class="Cart_Confirm_bottom_submit">开始出单</div>
            </div>
        </div>
    </div>
</body>

</html>  