<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>桌号列表</title>
    <link href='res/css/table.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script type="text/javascript" src="res/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="plugin/layer.min.js" ></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>
    <script type='text/javascript' src='res/js/table.js'></script>
</head>

<body style="background:#fbf6e6;">
    <div id="YDC_TablePage">

        <div class="bottombar">
                <div id="flippage">返回</div>
        </div>
        <div class="topbar" style="width: 100%;">
            <img src="res/images/top.png" style="width: 100%;">
        </div>

        <div id="table_inputTextDiv" style="display:none;">
            <span class="table_tip_text">请选择人数</span>
            <input id="table_inputText" type="text" />
            <span style="font-size:18px;color:#666;">位</span>
        </div>
        <div id="table_select_text" class="table_tip_text">请选择桌号</div>

        <div id="menu_list">
            
        </div>

    </div>

</body>

</html>  