<!DOCTYPE html>
<html>
<head>
    <title>历史订单</title>
    <script type="text/javascript" src="./js/refresh.js"></script>
</head>
<body>
    <div id="YDC_OrderPage" data-dom-cache="true" data-role="page" >
        <div id="Header" data-role="header" data-position="fixed">
            <a id="OrderBackBtn" href="#" data-rel="back" data-role="button" data-icon="back"><span>返回</span></a>
            <div class="right">
                <span id="Order_ShopName"></span>
            </div>
        </div>
        <div id="Content" data-role="content">
            <div id="OrderList" data-role="collapsibleset" data-iconpos="right">
            </div>
        </div>
        <script type="text/javascript" src="./js/order.js"></script>
    </div>
</body>
</html>
