<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>桌号列表</title>
    <link href='res/css/table.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script type="text/javascript" src="res/js/jquery.cookie.js"></script>
    <script type="text/javascript" src="plugin/layer.min.js" ></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>
    <script type='text/javascript' src='res/js/table.js'></script>
</head>

<body>
<div id="YDC_TablePage">
    <div id="table_header">

    </div>

    <div id="table_inputTextDiv" style="display:none;">
        <span class="table_tip_text">请选择人数</span>
        <input id="table_inputText" type="text" />
        <span style="font-size:18px;color:#666;">位</span>
    </div>
    <div id="table_select_text" class="table_tip_text">请选择桌号</div>
    <div id="menu_list">

    </div>


    <div id="YDC_footer">
        <div id="footer_confirmDiv"><a>确&nbsp;定</a></div>
        <div id="footer_shopNameDiv"></div>
    </div>

</div>
</body>
</html>  