<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" />
    <meta content="telephone=no" name="format-detection" />
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>呼叫</title>
    <link href='res/css/call.css' rel='stylesheet' type='text/css' />
    <script type='text/javascript' src='res/js/jquery.min.js'></script>
    <script src="res/js/jquery.cookie.js" type="text/javascript"></script>
    <script src="plugin/layer.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="ShopInfo/contants.js"></script>
    <script type='text/javascript' src='res/js/call.js'></script>
</head>

<body>
<div id="YDC_CallPage" >
    <div id="call_header">
        <a id="header_back">返 回</a>
    </div>

    <div id="Content" >
        <div class="Content_div">
            <div class="Content_div_call">呼叫服务</div>
        </div>
    </div>

    <div id="call_footer">
        <div id="footer_logo"></div>
    </div>
</div>
</body>

</html>  